<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--    <link rel="icon" href="../../../../favicon.ico">-->
  <title>Starter Template · Bootstrap</title>
  <!-- Custom stylesheet here-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

  <link href="static/css/custom.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--  <script src="static/js/jquery-3.3.1.slim.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="static/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Header-->
  <section class="chat-box">
    <div class="container">
      <div class="toggle-btn">sdfsdfdsfsdfsdf</div>
      <div class="chat-box-main" style="background-color: #dbd9d9;">

        <div class="chat-box-des-main my-chat-room">
          <div class="headerpart">
            <h2>Chat Bot</h2>
            <a href="#" class="close-icon"><img src="static/images/down-arrow.png" alt=""></a>
          </div>
          <div>
            <div class="chat-left-des d-flex justify-content-start">
              <div class="chat-design" id="chatbox">
                <div class="left-chat">
                  <p class="chat-word">Hi! I'm Chatterbot.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="message-main">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type a message here" value="" id="textInput">
            <button class="btn" type="button" id="buttonInput">
              <div class="send-only" style="background-color:#38b5f1">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
                  <g id="Icon/Fill/navigation-2" filter="url(#filter0_dd_378_3057)">
                    <path id="Mask" fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.3893 18.3333C12.3718 18.3333 12.3552 18.3325 12.3385 18.3316C11.9618 18.3091 11.6477 18.0358 11.5727 17.6658L10.291 11.36C10.2243 11.0316 9.96849 10.7758 9.64016 10.7091L3.33433 9.42663C2.96433 9.35247 2.69099 9.0383 2.66849 8.66163C2.64599 8.28413 2.87849 7.93913 3.23683 7.8208L16.5702 3.37663C16.8693 3.27497 17.1993 3.3533 17.4227 3.57747C17.646 3.8008 17.7235 4.1308 17.6243 4.42997L13.1793 17.7633C13.066 18.1058 12.746 18.3333 12.3893 18.3333Z"
                      fill="#231F20"></path>
                    <mask id="mask0_378_3057" maskUnits="userSpaceOnUse" x="2" y="3" width="16" height="16">
                      <path id="Mask_2" fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.3893 18.3333C12.3718 18.3333 12.3552 18.3325 12.3385 18.3316C11.9618 18.3091 11.6477 18.0358 11.5727 17.6658L10.291 11.36C10.2243 11.0316 9.96849 10.7758 9.64016 10.7091L3.33433 9.42663C2.96433 9.35247 2.69099 9.0383 2.66849 8.66163C2.64599 8.28413 2.87849 7.93913 3.23683 7.8208L16.5702 3.37663C16.8693 3.27497 17.1993 3.3533 17.4227 3.57747C17.646 3.8008 17.7235 4.1308 17.6243 4.42997L13.1793 17.7633C13.066 18.1058 12.746 18.3333 12.3893 18.3333Z"
                        fill="white"></path>
                    </mask>
                    <g mask="url(#mask0_378_3057)">
                      <g id="ð¨ Color">
                        <rect id="Base" x="1" width="20" height="20" fill="#ffffff"></rect>
                      </g>
                    </g>
                  </g>
                  <defs>
                    <filter id="filter0_dd_378_3057" x="-1" y="-1" width="24" height="24" filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"></feColorMatrix>
                      <feOffset dy="1"></feOffset>
                      <feGaussianBlur stdDeviation="0.5"></feGaussianBlur>
                      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0"></feColorMatrix>
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_378_3057"></feBlend>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"></feColorMatrix>
                      <feOffset dy="1"></feOffset>
                      <feGaussianBlur stdDeviation="1"></feGaussianBlur>
                      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0"></feColorMatrix>
                      <feBlend mode="normal" in2="effect1_dropShadow_378_3057" result="effect2_dropShadow_378_3057">
                      </feBlend>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_378_3057" result="shape">
                      </feBlend>
                    </filter>
                  </defs>
                </svg>
              </div>
            </button>
            <div id="mic">
              <button onclick="startButton(event)" class="mic" id="start_button">
                <i class="fa-solid fa-microphone fa-xl" style="color:#fff" id="start_img"></i>
                <i class="fa-solid fa-microphone-slash fa-xm" style="color:#fff" id="stop_img"></i>
                <img src="static/images/audio-wave.gif" alt="Computer man" id="audio_img">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="static/js/custom.js"></script>

</body>

</html>